.Header h1 {
    margin-bottom: 0px;
    color: #58a3c4;
}

.weather-info {
    align-items: center;
    gap: 5px;
    font-size: 18px;
}
.weather-info img {
    margin-right: 5px;
}
.weather-info span {
    margin-right: 3px;
}

.weather-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}